[2019-12-18 08:42] eromoe opened #433 "Pylint doesn't find the path set in `.env` and `terminal.integrated.env.linux`"
## Steps to cause the bug to occur

1. Follow https://code.visualstudio.com/docs/python/environments#_use-of-the-pythonpath-variable
2. add `.env` with some path like `PYTHONPATH=/home/dc/sales_forecast/jobs/airflow:/home/dc/sales_forecast/sales_forecast`
3. add `terminal.integrated.env.linux`  with `{"PYTHONPATH": "/home/dc/sales_forecast/jobs/airflow:/home/dc/sales_forecast/sales_forecast"}` to

[2022-03-09 23:15] karthiknadig opened #6 "YML files to add/or update"
- [x] release.yml : to better classify items going into release notes.
- [x] dependabot.yml : to ensure we get updates to correct dependencies.
- [x] PR-check: Update pr check to ensure that `news` or `skip` news` is added as label.
- [x] PR-check: Update pr check to ensure that `bug` or `feature` or `code health` is added as label.
- [x] PR-check: Add a check to ensure that the `pylint` version b

[2022-03-10 03:21] karthiknadig commented on #6
Most of the items were addressed with https://github.com/microsoft/vscode-pylint/pull/7

[2022-03-10 09:38] #6 closed

[2022-03-11 08:40] DetachHead opened #11 "ui settings"
it's easier than having to change the settings in `settings.json`

[2022-03-11 20:56] karthiknadig commented on #11
Transferring this VS Code since the settings UI is handled by VS Code.

This is for the following settings that have to be set via JSON:
![image](https://user-images.githubusercontent.com/3840081/157963529-114f3314-efef-40ba-b6ff-4d36b332efcd.png)

These are contributed via package json like this:
[code]

[2022-03-14 19:12] karthiknadig opened #13 "Changes to pylint settings."
Only the setting names are changed, their value and definitions remain the same.
| Old Setting | New Setting |
| ------|------|
| `python.pylintArgs` | `pylint.args` |
| `python.pylintTrace` | `pylint.trace` |
| `python.pylintSeverity` | `pylint.severity` |
| `python.pylintPath` | `pylint.path` |

[2022-03-14 19:46] #13 closed

[2022-03-15 03:31] DetachHead opened #15 "option to disable pylint"
there should be a `python.pylintEnabled` option, like the `python.linting.pylintEnabled` option in the python extension.

currently i get pylint errors when i open projects that don't use pylint, so i have to manually disable the extension when using those projects and re-enable it when switching back to projects that do

[2022-03-16 22:19] brettcannon commented on #15
You can [disable an extension](https://code.visualstudio.com/docs/editor/extension-marketplace#_disable-an-extension) on a per-workspace basis, so you shouldn't have to manually control for it at a global level beyond deciding if you want an extension enabled or disabled most of the time.

[2022-03-22 18:17] connor4312 opened #18 "Pylint does not work on Windows 11"
Testing microsoft/vscode-python#18739

I see issues in the Pylint output but this doesn't report problems for me on Windows 11.

![](https://memes.peet.io/img/22-03-85a171c4-c893-4ebc-a0ab-a8a95cc94b7b.png)

[2022-03-23 22:23] connor4312 commented on #18
I don't see any additional logs when adding that setting, but I do if I set `python.trace.server` instead. I captured those here: https://gist.github.com/connor4312/f9c0049b0c1073992fb835cf2eb2d458

Also, when looking at output channels I happened to notice this error. Unsure if related:

![image](https://user-images.githubusercontent.com/2230985/159806051-726bf953-1aca-4680-9c49-773fa6d5a490.png)

[2022-03-31 02:53] WXZhao7 opened #19 "Can't install release version of 'ms-python.pylint' extension because it has no release version."
I can't install vscode-pylint anyway. I have cleared my setting and close all extensions.
![image](https://user-images.githubusercontent.com/56864878/160966724-e8f45418-2bc7-40e3-a0ea-84a4b5da867d.png)

![image](https://user-images.githubusercontent.com/56864878/160966316-bcfe92f4-860e-4c2f-89eb-c200356e6945.png)

[2022-03-31 04:06] karthiknadig commented on #19
@WXZhao7 `pylint` extension is currently in pre-release. So, please select the pre-release option from the drop down:
![image](https://user-images.githubusercontent.com/3840081/160974444-c9bbef8d-c124-4990-b4a5-72b25146b540.png)

[2022-03-31 05:16] #19 closed

[2022-03-31 05:38] WXZhao7 commented on #19
@karthiknadig Thanks! It seems that vscode-pylint extension works faster than pylint installed by conda. I enjoy it now:)

[2022-03-31 06:12] WXZhao7 opened #20 "Can't work in jupyter notebook and pop many problems"
Will vscode-pylint support jupyter notebook? If not, it should be disabled in jupyter notebook.
Here are some discussions:
[Verifying PEP8 in iPython notebook code](https://stackoverflow.com/questions/26126853/verifying-pep8-in-ipython-notebook-code)
[Using Pylint in Ipython (Jupyter-Notebook)](https://stackoverflow.com/questions/50358327/using-pylint-in-ipython-jupyter-notebook)
![image](https://

[2022-03-31 06:18] karthiknadig commented on #20
@WXZhao7 We do have plans to support this. But until then I agree that it should be disabled.

[2022-03-31 06:19] karthiknadig opened #21 "Temporarily disable pylint on ipynb files."

[2022-03-31 06:23] cdce8p opened #22 "Update to pylint 2.13.x"
We released pylint `2.13.0` last week: https://pylint.pycqa.org/en/latest/whatsnew/2.13.html
Besides some new features and bugfixes, it also includes major improvements for error ranges. I.e. errors on function and classes are no longer emitted for the whole object, instead only for the first line.

https://pypi.org/project/pylint/
https://pypi.org/project/astroid/

[2022-03-31 14:44] ClementPhan opened #23 "Does not parse accentuated characters in linted code"
# Description
When a file contains accentuated characters ("é" for example), the extension is not able to parse the source code.

# Steps to reproduce

1. Create file ```stuff.py``` with contents:
[code]
2. Save

# Expected output

Taken from the python extension with  as seen in "Output: Python" with following settings :
[code]
[code]
# Actual output
Taken from Output: Pylint
[code]

# Environmen

[2022-03-31 16:54] #22 closed

[2022-03-31 16:55] karthiknadig commented on #23
@ClementPhan What is the encoding on the file? this is so I can test it locally.

[2022-03-31 17:06] ClementPhan commented on #23
It should be utf8

On Thu, 31 Mar 2022, 18:56 Karthik Nadig, ***@***.***> wrote:

[2022-03-31 17:07] #21 closed

[2022-03-31 17:11] brettcannon commented on #23
Are you able to provide the code that's failing? Or at least an example file that triggers the same problem?

[2022-03-31 17:12] karthiknadig commented on #23
@ClementPhan I am not able to re-produce this with utf-8 file encoding. since this is windows, it can sometimes get saved as the Windows default code page.

[2022-03-31 17:13] brettcannon commented on #23
And can you also show what Pylint shows when run from the terminal?

[2022-03-31 17:33] ClementPhan commented on #23
![image](https://user-images.githubusercontent.com/9255146/161114664-16414d48-d975-4744-b0b9-7a1a1b822fbd.png)

This is my setup, with vscode telling me i am in utf8.

The pylint output is seen in the image, but it is installed from pip.

The file is attached as a txt : [temp.txt](https://github.com/microsoft/vscode-pylint/files/8391809/temp.txt)

[2022-03-31 17:35] ClementPhan commented on #23
Can you tell me how to check for this ?

[2022-03-31 19:24] dp-alvarez opened #26 "Problems duplicated when using Jedi"
When using Jedi, this extension reports the same problems Jedi found and currently there is no way to disable them on the Jedi side.

This makes this extension unusable with Jedi, as of now.

There is an issue about that on the vscode-python repo: https://github.com/microsoft/vscode-python/issues/17777

Thanks!

[2022-04-01 17:29] karthiknadig commented on #23
@ClementPhan I don't think there is an easy way to check that. But given that VS Code is saying it is UTF-8 I think we can assume that for now.

Can you share what you have for the environment variables and the default encoding for your file system?
for the default FS encoding you can run this:
[code]

[2022-04-01 18:20] brettcannon commented on #23
It looks like Pylint forces encoding to UTF-8 on stdin:

https://github.com/PyCQA/pylint/blame/f46904ab9b058d8506b87cedd1f0c710d5c19360/pylint/lint/pylinter.py#L82-L85

And that code is at least 2 years old, so this isn't a new thing. So we may have to forcibly use UTF-8 when working with Pylint.

[2022-04-03 03:22] WXZhao7 opened #28 "hard to install on remote"
I can't install 'ms-python.pylint by clicking `install in WSL/SSH` on remote. But `install from VISX` worked. Is it related to `remote-SSH`?

![image](https://user-images.githubusercontent.com/56864878/161409449-0885e602-ab60-420b-8f48-9861f6edcb94.png)

![image](https://user-images.githubusercontent.com/56864878/161409693-0fac59b5-334b-4e64-bd2f-416855fc12a3.png)

[2022-04-03 14:59] alkatar21 opened #29 "Environment pylint is used without `pylint.path` specified"
As far as I understood this extension is meant to speed up the linting by not taking the pylint version from the environment anymore, so that for example you don't have to run `conda run` every time as long as you don't specify `pylint.path`.
I had `pylint==2.12.2` installed in one environment and pylint 2.12.2 was used by the extension, which can be seen in the error ranges. An update of pylint i

[2022-04-03 15:12] alkatar21 opened #30 "[Bug] Some `_path_to_file.py1.stats` files are generated in worksapace with anaconda"
For each file pylint generates messages for, such a file is created in the workspace. In a dev container I do not have this, but for several Conda environments where no pylint is installed and this extension is used.

[2022-04-04 10:11] alkatar21 commented on #28
I have a similar error in docker containers. When I have installed pylint locally, I get the following error when I try to install it in a container `Can't install release version of 'ms-python.pylint' extension because it has no release version.` I have installed the prerelease version locally. If I uninstall pylint locally, I can simply install the prerelease version in the container.

This is m

[2022-04-04 15:17] willmmiles opened #31 "Server fails for Python <= 3.6"
Unfortunately the bundled pydantic attempts to import dataclasses, and thus fails for any environment using a Python interpreter at 3.6 or older.  I think this extension should automatically fall back to using the locally installed pylint such cases.

Debug output from 'Output' tab:
[code]

[2022-04-04 17:13] karthiknadig commented on #28
This is likely an issue with VS Code since installation is handled there. I am not sure if this is the remote extension. Transferring this to VS Code for further investigation.

For some context, the pylint extension only has pre-release versions. We have not yet made a stable release. When there is only pre-release available VS Code should probably just show install pre-release and disable instal

[2022-04-04 17:28] karthiknadig commented on #31
@willmmiles The minimum supported python version is 3.7. I will be updating the readme to mention that.

[2022-04-04 17:35] karthiknadig commented on #30
We don't pass any particular flags to generate stats. Looks like this is default on for pylint: https://pylint.pycqa.org/en/latest/technical_reference/features.html?highlight=persistent#general-options

We only pass these flags in the extension to pylint:
[code]

[2022-04-04 17:46] karthiknadig commented on #29
Yes, this is intended behavior. I will be updating the docs to mention this. This behavior was based on a discussion with tooling developers (not specifically `pylint`), but the general recommendation was to use the version available in the environment first, and if not use the bundled version.

[2022-04-04 17:46] #29 closed

[2022-04-04 23:34] willmmiles commented on #31
Thanks.  I'll look in to how to version lock vscode extensions, and go back to a working version of vscode-python.

[2022-04-05 00:17] #31 closed

[2022-04-05 03:16] karthiknadig commented on #18
It seems like I am not able to get the LSP to trace no matter what I set. @dbaeumer I will certainly need some input to figure out why the trace is not printing out.

[2022-04-05 07:18] dbaeumer commented on #18
@karthiknadig how do you create the client and which settings value are you using to enable tracing?

[2022-04-05 07:27] karthiknadig commented on #18
This is how I am creating the client:
[code]
`createLinterServer` is called with following params, and pretty much started like this:
[code]

This is what I have in the settings:
[code]

[2022-04-05 07:35] ClementPhan commented on #23
Here is everything.

<details><summary>Environment variables:</summary>
<p>

[code]
</p>
</details>

<details><summary>File encoding:</summary>
<p>

[code]
</p>
</details>

[2022-04-05 15:59] karthiknadig commented on #23
@ClementPhan The latest pre-release should handle this better, we have changed the encoding to be always utf-8. Please do try with the latest.

[2022-04-05 19:50] parched opened #38 "Consider describing advantages over pylint support in python extension"
I'm currently using pylint with the python extension and am wondering if I should switch to this extension. What benefits does it give? Is it performance?

[2022-04-05 20:13] brettcannon commented on #38
Direct benefits are:

- It's **much** faster (as long as you don't specify the path to Pylint, else it's the same)
- Pylint is included (so you don't have to install it)
- You have more control of the severity of error codes

Indirectly:

- We can update this w/o updating the entire Python extension
- It's easier to contribute to since nearly all the code for this extension is written in Python

F

[2022-04-05 22:48] #15 closed

[2022-04-06 07:03] ClementPhan commented on #23
I removed my mitigation and it seems to works properly for me.

Thank you very much.

[2022-04-06 07:03] #23 closed

[2022-04-06 21:10] ChekeredList71 opened #39 "Can't install Pylint stable, only pre-release, and that doesn't works."
Hello, I am unable to install Pylint release version, only Pre-Release.
I get this message: `Can't install release version of 'ms-python.pylint' extension because it has no release version.` Currently, I cannot try to Reproduce the issue on an other computer, but tomorrow I'll try.
Yes, I know someone already asked this, but on Ubuntu and the case was a little bit different.

Does this issue occur

[2022-04-07 06:03] sandy081 commented on #39
This is expected as this extension does not have any release version. Moving this issue to extension repo to decide if they would like publish a release version.

[2022-04-07 06:07] karthiknadig commented on #39
We will publish a release version after soon. Pending enough feedback.

[2022-04-07 06:07] #39 closed

[2022-04-07 06:08] #38 closed

[2022-04-07 06:37] dbaeumer commented on #18
That actually looks correct. And there is nothing in the output channel?

[2022-04-07 06:39] dbaeumer commented on #18
After you created the client can you write something to the output channel using the client's `error` method.

[2022-04-07 06:56] karthiknadig commented on #18
@dbaeumer Tried `lsClient.error('Test message');` it did not write that to the output channel.

[2022-04-07 20:49] parched opened #41 "Can't use relative rcfile"
I have a multiroot workspace where one of the folders is a python project, in the root of that folder there is `.pylintrc`. The python extension picks this up automatically, I assume that's because it runs `pylint` from that folder. However, I can't seem to get it to work with this extension. I tried two things:
* Add this to the `settings.json` for the folder `"pylint.args": [ "--rcfile=${workspa

[2022-04-07 21:09] karthiknadig commented on #41
@parched can you share your *.code-workspace contents?

[2022-04-07 21:34] parched commented on #41
It looks like this
[code]
this seems to work though
[code]
I now remember that I've hit this with other extensions too, the working directory is always the first folder in the workspace. So this example works for this project because there is only one `.pylintrc`. But I have another project I'd like to use this extension with that has a `.pylintrc` in each workspace folder, that won't work.

[2022-04-07 21:39] parched commented on #41
It's also not picking up the correct interpreter (and hence pylint version). It appears to be using the global one instead of the one set for the `py-lib` folder.

[2022-04-08 06:45] dbaeumer commented on #18
@karthiknadig that sounds very wired. Can you debug through it (the error call) and see what happens here: https://github.com/microsoft/vscode-languageserver-node/blob/48c9f063483c78b99b988b78f517b24106be886c/client/src/common/client.ts#L3106

Is the right channel returned?

[2022-04-08 07:56] juanfcocontreras opened #42 "Warning with Python Interactive Window"
When using the Python Interactive Window I get the following warning:

[code]

Screenshot:

![20220408-0951-Code_Interactive - clasificacion py — code@2x](https://user-images.githubusercontent.com/4047415/162390714-4b0a990f-3627-4e5b-9dd2-8fd6796807d5.png)

[2022-04-08 16:40] karthiknadig commented on #18
@dbaeumer I think I did something wrong with my previous comment. It seems to be writing to the output channel when I use `lsClient.error`.

[2022-04-08 16:56] karthiknadig commented on #18
@dbaeumer Can you point me to where you log when `"pylint.trace.server": "verbose"` is consumed? From what I can tell, LS client seems to be only passing the console logger on connection. I may not be looking at the right thing.
![image](https://user-images.githubusercontent.com/3840081/162487412-c24055e1-50f2-4cf2-93bb-42ff71a636d8.png)

[2022-04-08 17:10] karthiknadig commented on #42
@microsoft/python-ai-vscode-eng I need some input here. Currently, I have enabled linting for this scheme `{ scheme: 'vscode-interactive-input', language: 'python' }`, likely why we see this linter warning. Do you think it is a good idea to change the name generation for the interactive input to be `interactive_input_1`. If we want to go with name pattern change then it should be done in the jupyt

[2022-04-08 17:53] brettcannon commented on #42
@rchiodo it's a per-linter thing (if they warn about it at all), although Pylint is very opinionated when it comes to style like this.

I don't love the idea of having us special-case error codes, but it's probably either that or we don't have linting in the interactive windows.

[2022-04-11 07:42] dbaeumer commented on #18
It starts here https://insiders.vscode.dev/github/microsoft/vscode-languageserver-node/blob/48c9f063483c78b99b988b78f517b24106be886c/client/src/common/client.ts#L3726

But the actual change happens here:

https://insiders.vscode.dev/github/microsoft/vscode-languageserver-node/blob/48c9f063483c78b99b988b78f517b24106be886c/client/src/common/client.ts#L3746

[2022-04-11 17:09] karthiknadig commented on #42
Remove this line to stop linting in interactive window:
https://github.com/microsoft/vscode-pylint/blob/22894516a994b16c5927bcb031aeaf487dab4e9f/src/common/linterLS.ts#L41

If anyone wants to give this a try :)

[2022-04-11 17:17] dciborow commented on #20
per
https://newbedev.com/using-pylint-in-ipython-jupyter-notebook

if needed, I would go as far as having a second pylintrc in the notebooks folder.

[2022-04-11 17:35] dciborow opened #43 "[Feat] Generic Way to trigger a light bulb for a code action on PyLint issues"
I would like a generic way to specify per linter per error code to trigger a light bulb for a code action that is provided in a configuration file. Before finding a truely global way to achieve, this since PyLint handles the majority of my Python static code analysis, I would like to begin here. A subset of PyLint's suggestions could contain a suggested fix. In easy cases, this can be done by trig

[2022-04-11 19:15] brettcannon commented on #43
And even if we don't decide to have some generic way for all linters, we should probably discuss whether we want to accept changes to this extension directly to provide quick fixes.

[2022-04-13 23:27] karthiknadig commented on #41
@parched Can you try the multi-root scenario and the multi-python scenario with this build? https://github.com/microsoft/vscode-pylint/suites/6116571062/artifacts/212652903

Can you also change your setting to say:
[code]

In the multi-root scenario the `cwd` will be the workspace folder. In multi-python scenario it will use the python set for that folder. so you shouldn't have to use `${workspace

[2022-04-14 08:59] parched commented on #41
Hi @karthiknadig, thanks, that works well. I didn't need to set `pylint.args` because pylint finds it automatically when it's in the CWD.

[2022-04-14 23:13] #41 closed

[2022-04-15 16:26] colinfang commented on #18
Pylint doesn't work for me either. Running with Windows 10 with WSL2 (VSCode on Windows, Pylint on WSL)

Pylint output in Output channel looks correct, but somehow the messages are not captured

[2022-04-15 21:35] JeanMesa commented on #39
Hello everyone,
Does anyone know of a workaround for this issue or if it's been mitigated? I am still unable to install get, getting the following err: "Can't install release version of 'ms-python.pylint' extension because it has no release version."
I attempted installing the "Pre-release" version but the functionality does not suffice as it's missing features.
Thanks in advance :)

[2022-04-15 21:42] karthiknadig commented on #39
You can download and install the vsix manually from the marketplace: https://marketplace.visualstudio.com/items?itemName=ms-python.pylint

[2022-04-18 18:00] alkatar21 commented on #30
This is still the case in the current version (v2022.1.11051003). This does not appear to be fixed. I can't find it in the commits either.

[2022-04-18 18:02] karthiknadig commented on #30
This is a pylint thing, we don't pass any flags to pylint asking to generate starts. It does this if you have persistence not disabled for performance purposes.

[2022-04-18 18:17] alkatar21 commented on #30
Why doesn't this happen in dev containers, but at least in all my conda envs if the default is to generate them?
I use the same global settings. I do not see where I have persistence not disabled?
What is the suggested way to bypass the generation with the extension? It is probably not the expected behavior of the extension to create such a stats file for every Python file and to clutter the works

[2022-04-18 18:46] karthiknadig commented on #30
It is not the expected behavior of the extension to do this. As I mentioned in my previous comment, we don't pass any flags in particular to enable this behavior. You can see exactly what we run in the logs, so we are not creating this file. or asking pylint to do so. I tested this locally with latest conda, I don't see any stat file being generated in the local project directory

As for why this

[2022-04-18 19:12] alkatar21 commented on #30
Ok, I now understand the underlying problem. I thought the difference was the generating and not the location.
After a short analysis I found out that the folder `...\AppData\Local\pylint` is created when the extension is active, but then not used it seems. When I check a file with pylint in the VSCode console with `pylint --reports=n --output-format=json <file>.py`, the folder `...\AppData\Local\

[2022-04-18 19:52] alkatar21 commented on #30
I have now also disabled the extension and tried the old way via the Python extension with `"python.linting.pylintEnabled": true,`. This also works as expected and the stats files are stored under `...\AppData\Local\pylint`. So it seems that this extension is the reason that the stats files are stored locally, especially since it works with the python extension.

[2022-04-18 21:07] karthiknadig commented on #30
Can you provide the environment variables you get from an activated terminal (outside of VS code)?

also, install tis version of the extension: https://github.com/microsoft/vscode-pylint/suites/6164024713/artifacts/215951040
It should long the environment variables it sees. This way we can compare if there are any differences.

Additionally, can you test these two cases from VS Code terminal with

[2022-04-19 10:29] alkatar21 commented on #30
I am not quite sure what is meant by an activated terminal. I have now assumed one with Anaconda and active env:

I have adjusted the env slightly and removed other programs and replaced some paths with placeholders. This should be the same for all envs and not relevant anyway.

<details>
<summary>Conda Console env</summary>

[code]
</details>

I installed the extension and thats the env output:

[2022-04-19 11:02] alkatar21 commented on #30
I unzipped the extension and added [here](https://github.com/microsoft/vscode-pylint/blob/725fc7ae415a9638e2a44e922cf5133efde62811/bundled/linter/linter_server.py#L157) the following:
[code]
`Use Path: False, {'workspace': 'file:///d%3A/<path>', 'trace': 'error', 'args': ['--enable-all-extensions', '--enable=useless-suppression'], 'severity': {'convention': 'Information', 'error': 'Error', 'fatal'

[2022-04-19 18:42] karthiknadig commented on #30
@alkatar21 Thanks for trying these out. I suspect the problem is not really with the environment variables or permissions, I believe it is with how we invoke the linter. We use stdin to works with source files, this is to allow scenarios where we may not have saved to disk yet. Somehow that might be causing pylint to use the current working directory.

One more thing to test

1. create file `test_

[2022-04-19 19:21] karthiknadig commented on #30
@alkatar21 I will need some input from pylint to debug this further. I have asked the question there.

[2022-04-19 22:02] karthiknadig commented on #30
@alkatar21 Thanks for the patience and for trying things out. Since I can't repro this locally, I have to rely on you for this. Can you try this and see what it prints out?
https://github.com/PyCQA/pylint/issues/6394#issuecomment-1103093792

This will probably cause parse failures, so the extension might crash but it will print this out in the logs. You have to edit the pylint file that is in the

[2022-04-20 09:55] alkatar21 commented on #30
I would have tried more, but I didn't know where print statements would end up and I don't really have time to get into `pylint` to find the relevant functions. If I know where and how to test something then I'm happy to do it.  The time zones are not optimal as I am in Europe, but that just makes it take a bit longer.

Output while using the pylint extension:
[code]

Output using my VSCode consol

[2022-04-20 10:19] DanielNoord commented on #30
This seems to confirm what I thought, here https://github.com/PyCQA/pylint/issues/6394#issuecomment-1103093792.

I guess we don't handle drive letters in `FileItem.base_name` correctly. I will probably have time to look at this somewhere this week and we should be able to fix this in `2.14`.
If somebody else wants to take a look at this, please go ahead. I have quite a bit of other issues to fix b

[2022-04-20 10:35] RGBYCP commented on #39
Despite choosing the `install release version` button, I get `Can't install release version of 'ms-python.pylint' extension because it has no release version.` still.

[2022-04-20 17:19] karthiknadig commented on #39
@RGBYCP We will publish release version soon. Until then you can install this manually by downloading the VSIX from the marketplace.

[2022-04-22 18:39] colinfang commented on #18
It worked now with the latest version

[2022-04-25 23:56] #42 closed

[2022-05-02 16:16] dciborow opened #70 "Pylint Settings: Help user discover pylint options"
Currently, the settings page provided for configuring pylint is very limited.

In general, users are likely to use a configuration file. Having a simple setting to let the user point to the configuration file would help to reduce potential for setup mistakes. (I keep putting my args on the same line...)

VSCode could then load the completed configurations provided by the user and dispaly those in

[2022-05-02 16:22] dciborow commented on #43
One option to consider would be supporting sarif.

Or, even just the more generic "GitHub" logging sytle:
`%f:%l:%c: %m`

%f = filename
%l = line number
%c = column number
%m = message

And within the message, a suggestion can be placed between ``` like this

[code]
(space added to  ` `` to display properly)

[2022-05-02 20:09] DanielNoord commented on #70
Note that we are currently discussing whether we want to deprecate ``generate-rcfile`` in favour of the new ``generate-toml-config`` command. So if that option is chosen, please consider using that command instead on all versions that support it. (>=2.14)

[2022-05-02 20:32] brettcannon commented on #43
Standardized output formats isn't going to be what helps here. The critical piece would be some mechanism to make it so you can hook into the linter results that **we** provide to get the quick fixes. Basically quick fixes are given the diagnostics, so you're already passed caring about _how_ we got the diagnostic.

[2022-05-03 03:23] parched opened #76 "Linter server stuck at 100% CPU usage"
Currently, the pylint process is stuck at 100% CPU usage, i.e.,

I'm not sure how to reproduce this, so perhaps you might just have to close this, but I thought I'd raise in case you have some ideas.

[code]

[2022-05-03 06:00] parched commented on #76
I checked the file and seems I have an older version where [this line](https://github.com/microsoft/vscode-pylint/blob/78a50b0bb1d47cb47e99c71dff63f1f554974409/bundled/linter/linter_server.py#L108) is `while True:` .
I'll update and try again.

[2022-05-03 06:08] parched commented on #76
Yeah, that fixed it.

[2022-05-03 06:08] #76 closed

[2022-05-04 08:59] timeterror opened #77 "Crash ``'Module' object has no attribute 'doc_node'`` (as of v2022.1.10911002)"
When parsing the following file:

[code]

pylint crashed with an ``AttributeError`` and with the following stacktrace:
[code]

The extension settings are:
[code]

[2022-05-04 12:11] timeterror opened #78 "Reveal pylint evaluation score"
Pylint calculates an evaluation score when linting. It would be nice if we would have the option to reveal the score. The score could per example be incorporated in the tab title, tab tooltip, or the file explorer next to the file name.

[2022-05-04 12:17] timeterror opened #79 "Project wide evaluation"
Pylint can evaluate code across a folder and subfolders, which provides insights into issues such as duplicate code. Being able to trigger pylint on a folder can provide users with a unique feature not available in the built-in linting of the vscode python extension. Additionally, users could apply this to gain insights into a project's general code quality, preferably by means of pylint's scoring

[2022-05-04 18:40] jpmolinamatute opened #80 "Detect version of `pylint` and notify if the version is not supported"
Hello there!

at the moment, pylint seems like it's not running in VSCode, I have run pylint manually in the command line and I get a bunch of errors and warnings, However, vscode says 0 errors, 0 warnings.

in the root directory, I have a default .pylintrc file, I have disabled/enabled "python.linting.pylintEnabled".

in the developer console I have seen "Error: write after end" errors sometimes

[2022-05-04 19:38] karthiknadig commented on #80
@jpmolinamatute `"python.linting.pylintEnabled"` setting is used by the python extension, not the `pylint` extension.

If pylint extension is installed and enabled, you should see this in the output panel:
![image](https://user-images.githubusercontent.com/3840081/166812551-0d55a2de-8df0-466b-9f18-d3665da73bee.png)

If there are any errors you should see it in the Output > Pylint panel.

[2022-05-05 12:23] DanielNoord commented on #77
@karthiknadig The issue was filed here: https://github.com/PyCQA/pylint/issues/6505

However, we can't reproduce with the version that shown by (presumably) `pip list`. Is there an easy way to let @timeterror show which version and environment the extension is using?

[2022-05-05 13:14] DanielNoord commented on #30
Sorry for taking a little longer to respond to this.

@alkatar21 Are you still interested in this issue? I don't have easy access to a similar test environment so I would like to ask you if you could test a fix I came up with.
Could you test if this works:

[code]

[2022-05-05 13:59] DanielNoord commented on #30
That's good to hear!

Looking at the output I am going to change the fix a little bit. I think we should still keep the `D` somewhere in the `data_file` path as we don't want to confuse files in similar folders on different drives.

I'm not sure how proficient you are with `pytest` and the like, but any help getting a regression test for this for `pylint` would be much appreciated. I'll ping you w

[2022-05-05 17:58] karthiknadig commented on #80
@jpmolinamatute Can you check the version of `pylint` in your environment?

[2022-05-05 21:22] DanielNoord commented on #30
@alkatar21 We actually completely refactored the relevant code today so the previous `diff` no longer works.

I have created https://github.com/DanielNoord/pylint/pull/135 and used your suggestion for a test. Still, I'd like a real world test.
Could you test if that change works? You can clone the branch of the PR and `cd` into the directory and use `pip install -e .` to install that version into

[2022-05-05 23:41] karthiknadig commented on #80
@jpmolinamatute From the stack it looks like it is picking up the `pylint` version installed in the environment. Unless you need to work with a specific version of `pylint`, I recommend updating `pylint` and its dependencies to the latest. Minimum supported version of pylint is `2.12.2`.

Another thing to know, the extension ships with a version of `pylint`, so you don't have to install it in your

[2022-05-06 15:09] alkatar21 opened #83 "Support for linting on change."
The inline hints that highlight problems in the code do not behave as expected on unsaved files. While pylance/pyright move the hints, the pylint problem hints do not.

I'm not quite sure if it's more of a bug or a feature request?

Since I do not know how best to create a gif here at least 2 images (The red lines are pylance and the blue and yellow one are from pylint.):
![grafik](https://user-im

[2022-05-06 16:52] karthiknadig commented on #83
@alkatar21 Changing this to a feature request. What we need here is to support linting on change.

Currently, we support linting on `open`, `save` and clean up on `close`, we will need to add on `change` support here:
https://github.com/microsoft/vscode-pylint/blob/68fe00bffd603b2e8ada3a797ff89f9c070fce7b/bundled/linter/linter_server.py#L211-L228

A caveat with supporting on change is we may also

[2022-05-06 17:09] luabud commented on #83
Related to https://github.com/microsoft/vscode-python/issues/408

[2022-05-06 19:58] DanielNoord commented on #30
I have just merged https://github.com/PyCQA/pylint/pull/6526.

Due to the recent refactor and the fact that `2.14` is nearing its release we decided not to back port this to a patch release. Since we have never seen issues about this we don't think it is a very widespread issue. The PR and this issue do have `diffs` that solve the issue on `2.13.x` and below.

I'll leave it up to the maintainers h

[2022-05-06 20:27] alkatar21 commented on #30
I think the main reason why this has not been noticed so far is because no one else calls `pylint` the way this extension does it now. The python extension does it also differently. Since there are only 16k downloads so far, it has not been noticed, especially since it is not known who uses it at all and uses windows with 2 hard drives.
But as soon as the extension becomes much more popular, there

[2022-05-06 21:01] jpmolinamatute commented on #80
thanks so much for the help! I uninstalled pylint from my venv, and as soon as the command completed vscode-pylint started working as it suppose to. :-)

still, I think this is a bug because I didn't set `"pylint.path"` and I was assuming vscode-pylint was using its built-in pylint instead of the environment. In other words, if I have installed pylint, it will break vscode-pylint.

one more thing

[2022-05-06 21:08] karthiknadig commented on #80
@jpmolinamatute This might be a version problem. You might have had a later version on your linux machine and older one on Mac possibly.

The order of pick up is:
1. `pylint.path` set that will be used (we recommend against it as it won't perform as efficiently)
2. `pylint` installed in the environment (but down side is if it lower than 2.12.2. it might not work)
3. `pylint` bndled with the extens

[2022-05-06 21:10] karthiknadig commented on #80
In cases were we might use incompatible version of pylint, we should notify the user about it, instead of falling.

[2022-05-07 02:41] jpmolinamatute commented on #80
I find this information very useful, I think it should be in the readme

[2022-05-10 23:02] dciborow commented on #70
Again, after installing the plugin, I still scratch my head and have to look up what the config command is.
Having a default value of config "AUTO", where vscode will search for likely files would be great too.

[2022-05-14 01:43] dciborow opened #90 "Add 'Quick Fix' suggestions for errors and warnings thrown by Pylint"
https://github.com/microsoft/vscode-python/issues/10612#issue-582944823

[2022-05-16 23:31] dimaulupov opened #96 "Show indicator that pylint is still running for the file"
Sometimes (more like all the time in our codebase) pylint takes a while to process a file.
It would be very convenient if there was some indicator that pylint is still running or has finished running for a file.

Otherwise I have to go into output and see if it has finished.

Thanks.

[2022-05-22 19:22] DanielNoord opened #99 "Provide an option to show current version of ``pylint`` and ``astroid`` being used"
Based on https://github.com/PyCQA/pylint/issues/6505 and a recent other issue we received I was wondering if there is any support for making a toggle that calls `pylint --version` (and possibly `which pylint`) before any run.
Perhaps something like ``pylint.debug.logversion``? I don't know...

I think it might help troubleshoot issues both for you and for us by getting the version and environment

[2022-05-22 19:24] DanielNoord commented on #30
Just checking in: we have released a beta for `2.14` and will likely release the actual version this week.

[2022-06-02 23:18] karthiknadig commented on #83
If we do this, it should be put behind `pylint.lintOnChange` setting scoped to the machine level. Propagate that setting in `settings.ts`.

Registration in LSP itself can be done in `initialize` in `linter_server.py`:
[code]

[2022-06-03 11:28] jacobglanz commented on #39
It still doesn't work for me, can you please provide a step by step guide?

[2022-06-03 17:42] karthiknadig commented on #39
@jacobglanz see here https://github.com/microsoft/vscode-pylint/issues/19#issuecomment-1084051282

[2022-06-04 00:22] karthiknadig commented on #30
The extension is now updated to use pylint 2.14.

[2022-06-04 00:22] #30 closed

[2022-06-10 13:53] alkatar21 commented on #79
I seem to have imagined it, but apparently pylint in the python extension did not react to `"python.analysis.diagnosticMode": "workspace",` either and then processed all files. At least I can't reproduce it right now with an older python extension version either. But it would be cool if there would be the possibility to let pylint analyze all files in the workspace and see them in the Problems Vie

[2022-06-14 23:02] #80 closed

[2022-06-14 23:02] #99 closed

[2022-06-15 07:32] ChienTeLee opened #129 "Some caching occurs when using pylint in a server like mode."
Hi, I just installed this extension and work on python 3.8.11. When I use relative import to import a file which have the same name with another file in other folder, pylint cannot import correctly and showing false positives. This happens globally, and I think it is the same issue with this one: https://github.com/PyCQA/pylint/issues/5645.

[2022-06-15 17:33] karthiknadig commented on #129
@ChienTeLee This extension shows whatever we get from `pylint`. Try running pylint from the terminal and see if you get different results.

[2022-06-24 10:41] edugarcam opened #132 "False positive Unexpected keyword argument"
Hi, first of all sorry if I am not making the error report correctly.

Since a week more or less we are having problems with pylint.

If we modify one function adding an additional parameter, calls to this function from other file can not see the new parameter and pylint show the error "Unexpected keyword argument".

Only restarting VSCode the new parameter is saw by pylint.

Thank you!

[2022-06-24 10:50] alkatar21 commented on #132
I can confirm that. I think this has been the case with the extension all along.

A tip as better workaround, open the Command Pallet (`Ctrl + Shift + p`) -> `Pylint: Restart Linter` also works, then only the linter restarts and not everything that has to do with VSCode.

[2022-06-24 18:04] karthiknadig commented on #132
Pylint might be caching something for faster linting. Having to restart linter each time does not feel right.

/cc @DanielNoord

[2022-06-24 18:20] DanielNoord commented on #129
I tried to create a reproducer for #132, but found that the extensions creates a different result compared to a manual invocation. I think it might be related to the bug reported here, but I'm not sure.

For:
[code]

`Pylint output`:
[code]

`Manual`:
[code]

Note that I removed ``--from-stdin``. I think we looked into `--from-stdin` previously, but there might still be something broken about that

[2022-06-24 18:21] DanielNoord commented on #132
`pylint` doesn't cache anything so every run is disconnected from the previous run.

[2022-06-24 19:18] karthiknadig commented on #129
@DanielNoord Can you dump what `pylint` sees as sys path in the manual run case. I think that might be the problem. Extension is not setting up the `sys.path`, as `pylint` would expect to see it.

[2022-06-24 19:21] DanielNoord commented on #129
[code]

Just before we actually start checking the file.

--------------------

[code]

[2022-06-24 19:25] DanielNoord commented on #129
`sys.path` of extension:
[code]

@karthiknadig How can I read anything printed to `sys.stdout` from the Extension?

[2022-06-24 19:37] DanielNoord commented on #129
I noticed something strange as well. I'm using an editable instal `pip install -e .` in my environment. The extensions picks this up and shows that it is using both my local version of `astroid` (our underlying interpreter) and `pylint`.

However, whenever I make changes to those installs they don't get used by the extension. I need to restart the server for those changes to take effect.
So, when

[2022-06-24 19:38] karthiknadig commented on #129
@DanielNoord for diagnostic purposes, I dump everything that i get from `sys.stdout` each time to the Output>pylint. what you see in the logs when the linter runs on a file is exactly what we got from `sys.stdout`. `result.stdout` is the content of the substituted stream for stdout.
https://github.com/microsoft/vscode-pylint/blob/9d05b8efd44d6aa9b9fd74cff18e4854c13b85b2/bundled/linter/linter_serve

[2022-06-24 19:42] karthiknadig commented on #129
I believe this might be due to `runpy` and extension never unloading `pylint` after a running. The extension, loads pylint once, and reuses it. In the normal scenario, `pylint` would run, and exit, and the only way some state was persisted was by writing to a file. Now that pylint runs like a server, it seems some state is being re-used.

[2022-06-24 20:19] DanielNoord commented on #129
Yeah, some of the caching in `astroid` depends on global states so that is likely causing issues then. I think it would take quite some time before we can untangle all the different states `pylint` and `astroid` need/use before we can smoothly support a server-like run. Is there anything we can do with `runpy` to avoid this? Like passing a flag to re-load?

[2022-06-24 21:49] karthiknadig commented on #129
@brettcannon Any suggestions here on how we can do reload safely?

[2022-06-24 23:24] karthiknadig commented on #129
For completeness I captured the sys.path for the ways of running pylint that we were looking at:

### Running pylint as a module in terminal:
[code]

### Using runpy.run_module

[code]

### Via the extension

The typescript part launches this `python bundled/linter/linter_server.py`. Pylint is eventually launched by the handler for file open using `runpy.run_module`.
[code]

The only thing missing

[2022-06-27 15:48] karthiknadig commented on #132
Duplicate of https://github.com/microsoft/vscode-pylint/issues/129

See discussion here for details https://github.com/microsoft/vscode-pylint/issues/129#issuecomment-1165906018. Since pylint is run in a server like manner there is some caching. This is a side effect of that.

[2022-06-27 15:48] #132 closed

[2022-06-29 21:39] DanielNoord commented on #129
@jacobtylerwalls You have a better understanding of clearing caches within `astroid` than I do. Do you think there is something we can easily fix before we eventually go through the effort of allowing a server-like pylint process to run?

[2022-06-29 22:07] jacobtylerwalls commented on #129
Should be as simple as calling `clear_cache()` on any `AstroidManager` object, which can be accessed as either `astroid.MANAGER` or `pylint.lint.pylinter.MANAGER`. See the recent (and well-hidden) documentation at the bottom of this page:

https://pylint.pycqa.org/en/latest/development_guide/api/pylint.html?highlight=between%20runs#edited-between-runs

This should be done after every pylint call.

[2022-06-29 22:12] DanielNoord commented on #129
@jacobtylerwalls Seems like an option ``--clear-cache-post-run`` (forgive the name) would indeed be useful. That would require some version checking for this plugin but might be more user friendly going forward.

[2022-06-29 22:23] brettcannon commented on #129
Yep, that should be doable. We can probably handle it somewhere in https://github.com/microsoft/vscode-pylint/blob/9d05b8efd44d6aa9b9fd74cff18e4854c13b85b2/bundled/linter/utils.py#L112-L134 .

We are running single-threaded, so that's not a concern here (perk of Pylint being run in a language server and those out-of-process to VS Code itself).

[2022-07-01 18:32] karrtikr opened #135 "Do not attempt to launch any servers in case when Python is not installed"
https://github.com/microsoft/vscode-python-tools-extension-template/issues/25

[2022-07-06 01:43] karthiknadig commented on #135
This will be handled in the template and propagated here.

[2022-07-06 01:43] #135 closed, assigned to karthiknadig

[2022-08-03 11:06] niemiaszek opened #158 "Missing class docstring highlights whole class body instead of the first line"
Contrary to Pylint from Python extension, this extension highlights whole class body when _Missing class docstring_ (C0115) is met. This is highly distracting and makes it really hard to read the code.

![pylint](https://user-images.githubusercontent.com/46727980/182592293-180854c8-1ee6-47da-ae98-7725c81c2f80.png)

For _Missing module docstring_ (C0114) only the first line is highlighted as intend

[2022-08-03 17:20] karthiknadig commented on #158
@niemiaszek Can you share the logs from Output > pylint? We actually don't do anything special in the python extension to scope it to the first line. This issue was addressed by `pylint` somewhat recently. I am guessing either the bundled version was probably from when it was selecting the whole block. the logs should provide the details.

[2022-08-04 14:58] niemiaszek commented on #158
[code]

[2022-08-04 17:34] karthiknadig commented on #158
@niemiaszek As I suspected, this range is coming from `pylint` in the release version of the extension which does not have the fix. We will be making another release of this extension that will have the improved range from the newer pylint. If you want to try it out, please install the pre-release version of the extension.

[2022-08-04 17:34] #158 closed

[2022-08-04 22:51] niemiaszek commented on #158
@karthiknadig Thank you very much for your kind help as always 😄

[2022-08-06 16:47] SOHAM1706 opened #161 "import error"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2022-08-06 18:22] karthiknadig commented on #161
@SOHAM1706 Please look at Output > pylint for details. Also, please create a new bug with details on how to reproduce. There isn't enough information here to diagnose the issue.

[2022-08-06 18:22] #161 closed

[2022-08-12 01:48] meetAndEgg opened #163 "the extension does not work if add args to the "pylint.args""
When the "pylint.args" is empty, this extension works well
<img width="1001" alt="LFZ8_077 1S_S HXHU6Q$F3" src="https://user-images.githubusercontent.com/104431511/184269963-b75172f5-f0dd-42bb-b0b0-4b3286a968f1.png">
But if I add args to the "pylint.args", this extension  does not work.
<img width="987" alt="0G`8JPN8~E{OCLXDA899} A" src="https://user-images.githubusercontent.com/104431511/18427021

[2022-08-12 02:01] karthiknadig commented on #163
Please don't put space around the "=". You are also missing `--` for the `max-line-length`. Try:
[code]

[2022-08-12 02:02] karthiknadig commented on #163
You can look at `Output` > `Pylint` to see exactly what went wrong.

[2022-08-12 02:08] meetAndEgg commented on #163
Get it!  I found this error in  OUTPUT  `Unrecognized option found: disable = C0330, C0326`.
After repairing my options, pylint works well again!
Thanks!

[2022-08-12 02:08] #163 closed

[2022-08-12 02:09] meetAndEgg commented on #163
Get it!  I found this error in  OUTPUT  `Unrecognized option found: disable = C0330, C0326`.
After repairing my options, pylint works well again!
Thanks!

[2022-08-12 18:52] chrisst opened #164 "pylint.interpreter setting doesn't appear to expand ${workspaceFolder}"
[I'm using a multi root workspace ](https://code.visualstudio.com/docs/editor/multi-root-workspaces) right now and I want to configure the pylint interpreter for all of the workspaces to the same place. However `pylint.interpreter` doesnt' appear to be expanding the strings passed into it. When I reload vscode and look into the pylint output it cannot find the executable. When I hard code it to a

[2022-08-12 18:58] karthiknadig commented on #164
@chrisst You don't have to set `pylint.interpreter` if you select interpreter for each workspace using the python extension. `${workspaceFolder:foldername}` or `${workspaceFolder}` expansions are not supported in the settings in VS code.

If you really need to set them then you could use relative paths based on the workspace root for each workspace, Like:
[code]

[2022-08-12 18:59] karthiknadig commented on #164
If possible, please share your `*.code-workspace` file.

[2022-08-12 19:01] chrisst commented on #164
It doesn't look like the `pylint.interpreter` is supported in the per workspace config. It is only a valid option in the global workspace config right now. Which I suppose could be a separate issue.

My current file is:
[code]

[2022-08-12 19:05] chrisst commented on #164
Attached screenshots show this can't be configured per workspace:
![Screen Shot 2022-08-12 at 12 02 18 PM](https://user-images.githubusercontent.com/1569002/184426513-c11a25f0-bf74-425e-821d-e55d7eedd05e.png)
![Screen Shot 2022-08-12 at 12 02 35 PM](https://user-images.githubusercontent.com/1569002/184426515-b6a56c43-7134-4301-b2d7-b9dcd8910f60.png)

[2022-08-12 19:27] karthiknadig commented on #164
@chrisst The setting can only be set at the workspace level, it is used to start the main server. If you need different pythons for each workspace folder, you have to select it using the python interpreter selection command.

That setting should only be used if you want to use a different interpreter than the one you would normally use for your projects. So, if you have a virtual environment for y

[2022-08-12 20:06] chrisst commented on #164
Yup, you were right. I swapped the interpreter and it was able to cleanly resolve pylint as well. Thanks!

[2022-08-12 20:06] #164 closed

[2022-08-13 05:18] karthiknadig opened #165 "Copy labels to other repo."

[2022-08-23 03:29] DetachHead opened #169 "doesn't respect `ignore-pattern` in `pyproject.toml`"
[code]
![image](https://user-images.githubusercontent.com/57028336/186063270-9e0c2152-5672-4270-b534-094b763bf73e.png)

[2022-08-24 04:02] karthiknadig commented on #169
@DanielNoord is there a way to know where the settings are loaded from? Debugging through the pylint code it seems to find the `pyproject.toml` but it is not using ignore-patterns for some reason, with `--from-stdin`

[2022-08-31 06:03] karthiknadig commented on #169
Looks like it does pick up the pyproject.toml:
![image](https://user-images.githubusercontent.com/3840081/187604114-25825003-30d9-40c1-b80c-e0314f08de35.png)

These are the arguments:
![image](https://user-images.githubusercontent.com/3840081/187604236-93c0008d-cc17-48ee-b810-66388dec6e06.png)

As far as I can tell this might be a bug with sending content to `pylint` via stdin. The `_is_ignored_fi

[2022-08-31 06:33] DanielNoord commented on #169
@DetachHead which version of `pylint` are you using? We recently (tried to) fix some issues with ignoring files on `stdin`. Perhaps we already fixed this, or we actually regressed here.

[2022-08-31 06:49] karthiknadig commented on #169
@DetachHead the logs from Output > pylint panel should have details on which version was loaded:
![image](https://user-images.githubusercontent.com/3840081/187612087-ca3b8343-c481-4406-b513-e5eadf98e3f4.png)

[2022-08-31 08:21] DetachHead commented on #169
[code]

[2022-08-31 08:47] DanielNoord commented on #169
Could you try `2.15.x`?

[2022-08-31 09:24] DetachHead commented on #169
ok i have no clue what's going on here. the plugin is somehow using version 2.14.5 even though it's running from the exact same venv where i updated it to 2.15.0:
[code]
[code]

but on the output tab:
[code]

[2022-08-31 14:59] karthiknadig commented on #169
@DetachHead It is loading from the bundle. Can you set the `pylint.impoertStrategy` setting to `fromEnvironment`?

[2022-08-31 23:30] DetachHead commented on #169
@karthiknadig thanks. now it's using the correct version (2.15.0) but it's still showing errors in `.pyi` files. let me know if there's any more info i can provide

[2022-09-01 20:24] DanielNoord commented on #169
Sorry @DetachHead, should have recognised this. This is a "duplicate" of https://github.com/PyCQA/pylint/issues/5398.

We're compromising here and haven't found a good solution to fix this (other than just switching to glob patterns and making a breaking change).
Any good suggestions are much appreciated!

@karthiknadig This is a `pylint` issue and can be closed in this repository.

[2022-09-01 23:14] #169 closed

[2022-09-01 23:53] DetachHead opened #174 "don't run on `.pyi` files by default"
pylint currently doesn't support `.pyi` files, so this plugin should ignore them by default: https://github.com/PyCQA/pylint/issues/4987

i tried using `ignore-patterns` to work around this, but that doesn't seem to work either: #169

[2022-09-01 23:58] DetachHead commented on #169
@DanielNoord @karthiknadig i don't think this is the same issue. i removed the `\` from my ignore pattern and the issue persists. can this issue be re-opened?

[2022-09-02 00:09] karthiknadig commented on #169
The `ignore_patterns` check is only used when `pylint` is running over a directory, not when it is running on a single file whose contents are sent over stdin:
https://github.com/PyCQA/pylint/blob/a2c57ec06070b6d2485082e3a131a087f8d6d921/pylint/lint/pylinter.py#L603-L608

This could be solved by adding a ignore patterns check in this block:
https://github.com/PyCQA/pylint/blob/a2c57ec06070b6d24850

[2022-09-02 00:10] karthiknadig commented on #169
The `ignore_patterns` check is only used when `pylint` is running over a directory, not when it is running on a single file whose contents are sent over stdin:
https://github.com/PyCQA/pylint/blob/a2c57ec06070b6d2485082e3a131a087f8d6d921/pylint/lint/pylinter.py#L603-L608

This could be solved by adding a ignore patterns check in this block:
https://github.com/PyCQA/pylint/blob/a2c57ec06070b6d24850

[2022-09-02 02:21] DetachHead commented on #169
looks like there's already a PR for this https://github.com/PyCQA/pylint/pull/7220

[2022-09-02 06:15] DanielNoord commented on #169
Sorry for the confusion. That does indeed seem to be the issue. I'll take a look at getting that PR merged today!

[2022-09-02 18:32] luabud opened #175 "Add code action to format code when there's a trailing whitespace warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code C0303 that triggers the format document action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bundled/tool/server.py#L243

And the u

[2022-09-02 18:34] luabud opened #176 "Add code action to format code when there's a final new line missing"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0304:missing-final-newline` that triggers the format document action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bundled/tool/s

[2022-09-02 18:36] luabud opened #177 "Add code action to format code when there's a "trailing newlines" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0305:trailing-newlines` that triggers the format document action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bundled/tool/serve

[2022-09-02 18:38] luabud opened #178 "Add code action to format code when there's a "multiple statements" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0321:multiple-statements` that triggers the format document action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bundled/tool/ser

[2022-09-02 19:22] luabud opened #179 "Add code action to organize imports when there's a "multiple imports" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0410:multiple-imports` that triggers the `editor.action.organizeImports` action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bun

[2022-09-02 19:23] luabud opened #180 "Add code action to organize imports when there's a "wrong-import-order" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0411:wrong-import-order` that triggers the `editor.action.organizeImports` action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/b

[2022-09-02 19:25] luabud opened #181 "Add code action to organize imports when there's a "ungrouped imports" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0412:ungrouped-imports` that triggers the `editor.action.organizeImports` action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b078/bu

[2022-09-02 19:27] luabud opened #182 "Add code action to organize imports when there's a "wrong import position" warning"
Ref: https://github.com/microsoft/vscode-pylint/issues/43

There are two things that needs to be done:

- [ ] Create quick fix for warning code `C0413:wrong-import-position` that triggers the `editor.action.organizeImports` action
- [ ] Add unit test

The code for the first step will be similar to the one here: https://github.com/microsoft/vscode-pylint/blob/2fae19e66aaf079c3dc190b81f913695ac65b07

[2022-09-02 20:51] luabud opened #183 "Re-order settings in package.json alphabetically"
Having the settings in alphabetical order makes it easier to scan through the list when looking for a setting.

[2022-09-03 04:00] Pathholder1806 commented on #183
Hey @luabud !
I would like to contribute to this issue.

Just wanted to ask that if you are talking about both **package.json** and **package.nls.json**  files

[2022-09-04 09:12] DanielNoord commented on #169
The PR has been merged and should be available in the next patch release. I expect that release to come somewhere next week!

[2022-09-05 03:31] DetachHead commented on #169
thanks! interestingly, my ignore pattern with the `\` in it seems to work as well. maybe it's because my pylint config is in `pyproject.toml` instead of `.pylintrc`?

[2022-09-05 06:50] DanielNoord commented on #169
Thanks for getting back to this in the other issues in our repository! 😄

[2022-09-05 23:22] ketozhang commented on #43
I'm suggesting an additional action: to ignore the pylint rule for that line by adding the inline comment `# pylint: disable-<issue>`.

[2022-09-06 01:09] ketozhang opened #185 "Fail to activate extension for contributing"
The [current contributing guide ](https://github.com/microsoft/vscode-pylint/wiki/Contributing-Guide/f13181b4e9359e6d82afad1b7c05e4e1c4b15bec) on the wiki seems to be outdated (seems to be after #128).

I am currently unable to activate the extension in development mode on the main branch (2fae19e66aaf079c3dc190b81f913695ac65b078).

## Steps to reproduce
1. Follow the contributing guide
2. On VSCo

[2022-09-06 02:35] karthiknadig commented on #185
@ketozhang I updated the wiki.

Note that there is a issue with `vscode-nls-dev` and `typescript` version `4.8,*` (ref: https://github.com/microsoft/vscode-nls-dev/issues/42). I have a PR to roll back TS version until this is addressed: https://github.com/microsoft/vscode-pylint/pull/186

But, starting from clean build with typescript pinned to 4.7.4, I did not run into this error. I was able to r

[2022-09-16 16:16] kate-kee commented on #183
@luabud please assign it to me as part of GHC open source day.

[2022-09-16 19:01] ayushis380 commented on #182
Hey @luabud, can you assign this task to me?

[2022-09-16 19:18] jjmacklin commented on #177
I would like to work on this ticket!

[2022-09-16 20:43] luabud commented on #179
Here's how one can reproduce this warning from pylint: https://pylint.pycqa.org/en/latest/user_guide/messages/convention/multiple-imports.html

[2022-09-16 21:10] yinggoings commented on #179
I can take this one!

[2022-09-20 17:25] luabud commented on #179
@yinggoings feel free to tackle it! I assigned this issue to you :)

[2022-09-21 11:22] jjmacklin commented on #175
@luabud I can take this one as well. I will start once the other PR is done.

[2022-10-07 06:44] Mutantpenguin opened #199 "`pylint` extension should handle `python.linting.ignorePatterns` setting."
Although I have multiple patterns that work (as can be seen by them working for `mypy` and `pycodestyle`), this extension just ignores this.

example:
[code]

If I disable this extension and set `python.linting.pylintEnabled` to true to use pylint from my system, these pattern are used correctly.

Version of my local pylint: 2.15.3
Version of this extension: v2022.4.0

This wouldn't be so bad if t

[2022-10-07 06:57] karthiknadig commented on #199
The bundled pylint no honoring `--ignore-paths` is due to a bug in `pylint` itself see for more details https://github.com/microsoft/vscode-pylint/issues/169

Honoring `python.linting.ignorePatterns` would be a feature request.

[2022-10-07 13:23] Mutantpenguin commented on #199
Thanks for the explanation. The bug seems to be fixed in pylint already and is already released so I guess vscode-pylint will include this in its next version?

[2022-10-07 16:48] karthiknadig commented on #199
@Mutantpenguin Can you try the pre-release version? `2022.5.12781100`

[2022-10-10 06:31] Mutantpenguin commented on #199
Works!

But I would still say that integrating it with `python.linting.ignorePatterns` is a better long term solution and would like this feature request to stay open.

[2022-10-10 07:22] karthiknadig commented on #175
@jjmacklin you can take this one if you are interested.

[2022-10-19 13:45] gagandeepp commented on #178
@luabud interested please assign

[2022-10-19 13:45] gagandeepp commented on #181
@luabud interested please assign

[2022-10-19 13:45] gagandeepp commented on #180
@luabud interested please assign

[2022-10-19 14:45] gagandeepp commented on #176
@luabud @karthiknadig can you please add hacktoberfest label to this repo and issue?

[2022-10-19 17:19] brettcannon commented on #176
@gagandeepp sorry, but we are purposefully not participating in Hacktoberfest due to multiple years of low-quality PRs because of the event.

[2022-10-20 20:18] karthiknadig commented on #185
This should be working now.

[2022-10-20 20:18] #185 closed

[2022-10-23 23:57] ketozhang commented on #43
Additionally a second code action option for `#pylint: disable-next=<issue>`. The use case often being adding a comment will cause `line-too-long`.

Thoughts? I can work on this. @karthiknadig @luabud

[2022-10-24 01:27] ketozhang commented on #182
What tools are there that implements `editor.action.organizeImports` and will correct `wrong-import-position`? I don't think isort nor black would solve this.

I'm also suggesting to add `editor.action.formatDocument` as the primary command then `editor.action.sortImports` as secondary.

[2022-10-24 12:16] jjmacklin commented on #175
Submitted for review

[2022-10-24 23:12] luabud opened #205 "Add code actions to disable warnings with pylint"
_Originally posted by @ketozhang in https://github.com/microsoft/vscode-pylint/issues/43#issuecomment-1288236013_

[2022-10-24 23:42] karthiknadig commented on #182
@ketozhang you are right. This is likely not fixed by either `black` or `isort`. My be we can re-visit this one when such a support is available.

[2022-10-25 21:35] ketozhang commented on #205
Thanks @luabud.

Preceding that comment was

_Originally posted by @ketozhang in https://github.com/microsoft/vscode-pylint/issues/43#issuecomment-1237521217_

[2022-10-26 00:53] #182 closed

[2022-10-27 02:00] yinggoings commented on #179
@karthiknadig ran into:`ModuleNotFoundError: No module named 'hamcrest'` previously + Pytest Discovery error. Checked to ensure `__init_.py` is in test folder

[2022-10-27 07:23] inlann opened #211 "[bug] Pylint error: Module 'random' has no 'random' member; maybe 'Random'"
Hello:

My Pylint extension throw a member error for the module 'random':

[code]

<img width="714" alt="image" src="https://user-images.githubusercontent.com/33852855/198217012-fa9d82b4-df6c-4e99-b821-0c4752dbe8fa.png">

My random module works fine and my Pylint does not throw any error for this script:

[code]

Pylint extension version: v2022.4.0
OS: Darwin

[2022-10-27 08:23] karthiknadig commented on #211
@inlann Can you tell me if your project has a file called `random.py`? It would be good to diagnose if you can share your project or share your project structure. Also share the logs from Output > Pylint and Output > Python.

[2022-10-27 08:27] karthiknadig commented on #211
This type of issue commonly occurs if you have another file by the name `random.py` in project.

[2022-10-27 08:49] karthiknadig commented on #179
Try the above and see if that works for you. If not, share the branch that you are working on with me and I can look into it. Be sure to follow instructions here on setting up the project: https://github.com/microsoft/vscode-pylint/wiki/Contributing-Guide#getting-the-project-ready

[2022-10-27 15:19] yinggoings commented on #179
Deleted local repo and reforked to start from scratch. Followed steps on setting up using python3 and pip3 instead of python and pip as I haven't set up aliases/symlinks. First error when trying to run tests was `ModuleNotFoundError: No module named 'pytest'` > `pip3 install pytest` > next error was `ModuleNotFoundError: No module named 'hamcrest'`, same as before >

[2022-10-28 01:32] inlann commented on #211
@karthiknadig So thanks!! I remove my `random.py` and it works!!

[2022-10-28 01:32] #211 closed

[2022-10-28 01:40] karthiknadig commented on #179
@yinggoings If you are following the contributing guide then it should never say that `pytest` is not found. If this is happening, then the python that is selected using the python extension is wrong. Make sure that you create a .venv, then ensure that it is selected. Share your logs from Output > Python, that might give more clues on what is going on.

Your changes in https://github.com/yinggoing

[2022-10-28 13:38] yinggoings commented on #179
@karthiknadig I was in a .venv the whole time. I was also able to just replicate the exact same errors again after forking and cloning it from another Github account. Followed the exact same steps 1-3. I have Python 3.9.12.

[2022-10-28 18:32] karthiknadig commented on #179
See here for example look at `organize_import` in `server.py`: https://github.com/microsoft/vscode-pylint/pull/204/files
In the implementation it returns both `organizeImport` and `formatDocument`, you just need to return `organizeImport`. You can follow the test there as well.

I want to make sure you are able to run tests from the test UI, so you can debug if needed. So let me show you the outpu

[2022-11-09 15:35] sevdog opened #215 "`pylint` should handle `python.linting.cwd` settings"
In a multi-language project there could be a setup where the python source folder does not declare any `__init__.py` file and thus it is not a package from which imports can be performed.

[code]

In this example, since the sole python part is under `django_project` then `DJANGO_SETTINGS_MODULE`  is set as `project.settings`.
Thus if using [pylint-django](https://pypi.org/project/pylint-django/) t

[2022-11-10 09:27] uavsec opened #216 "Add pylance/python plugin like extraPaths setting"
Hi.

I'm not able to figure out how to add custom modules for this plugin to read.
For example Pylance/python reads from .vscode/settings.json -> "python.analysis.extraPaths"

[2022-11-12 02:13] #177 closed

[2022-11-14 07:52] #181 closed

[2022-11-14 07:52] #180 closed

[2022-11-14 07:52] #178 closed

[2022-11-14 07:52] #179 closed

[2022-11-14 07:52] #176 closed

[2022-11-18 12:25] bjtho08 commented on #129
Is this still being investigated? I have the same issue when doing refactoring in a project. Every time I change the name of a class, function or method that is imported elsewhere, I need to reload pylint to clear the error that is sure to show up after I save the changes, which triggers linting of the open files.

[2022-11-18 17:58] brettcannon commented on #129
@DanielNoord did any flag ever end up in Pylint? Or should we just hack up a forced reload of the appropriate modules?

[2022-11-19 15:35] jacobtylerwalls commented on #129
I put https://github.com/PyCQA/pylint/pull/7802 up just now as a proof of concept. I'd like to come back and add a test.

[2022-11-20 21:18] jacleggmsr opened #219 "pylint - false positive E0401:import-error"
Type: <b>Bug</b>

Something odd is going on in the new pylint extension. I'm not expert enough to pinpoint it.  The extension gives import errors for all modules from my current repo despite them being on my PYTHONPATH.    Running pylint via command line and omitting the "--from-stdin" flag gives no import errors and the code runs fine so I'm pretty sure this is something to do with the extension.

[2022-11-20 21:33] jacleggmsr commented on #219
Further information:  uninstalled the Pylint extension, restarted VSCode.  I have `"python.linting.lintOnSave": true` in my settings.json so now when I save a .py file, the python extension runs pylint and it completes without errors (as expected).

[2022-11-21 14:10] jacleggmsr opened #220 "'pylint' extension gives false positive E1101:no-member"
Type: <b>Bug</b>

I made two files in a clean repo:

wrapper.py:
[code]

consumer.py:
[code]
then hit ctrl + s (save) on both files.  Then change consumer.py to:
[code]
and wrapper.py to:
[code]
Now I get a red underline message at the `my_f2` call:
`[{
	"resource": "/c:/Users/jaclegg/src/demo/consumer.py",
	"owner": "_generated_diagnostic_collection_name_#5",
	"code": "E1101:no-member",
	"severit

[2022-11-21 19:09] eleanorjboyd commented on #219
Hello! I wanted to update to say we have received this issue and will be looking into it!

[2022-11-21 20:29] josmithua commented on #220
I'm also seeing this when using this new Pylint extension. Never had any issues with the old one, but now every time I add a function/method or change an existing one's signature, and try to use it in a different file, it reports E1101. Seems like there might be some caching issue. My current workaround is to reload VSCode, which sucks mucho...

[2022-11-21 21:13] jacleggmsr commented on #219
I've just change the title because I think the previous one was bad as it assumed something about the problem that I don't know to be true.  I've had a play around with reproducing this and all I can say is that it seems to be a problem with renaming folders, or moving files around.  I've stripped down my repo to consist of only:

tester.py:
[code]
and
aim\module.py:
[code]
and
aim2\module.py:
[co

[2022-11-21 21:15] jacleggmsr commented on #219
ps. only workaround seems to be to uninstall the extension

[2022-11-22 20:11] luabud commented on #220
Hi there, thanks for the bug report! I was able to reproduce the issue as well. We'll look into it as soon as we can. Because a lot of folks in the team are on vacation, in the meantime as a workaround it might be worth trying using our "built-in" support for linting: https://code.visualstudio.com/docs/python/linting#_enable-linting

[2022-11-24 15:37] Elijahh177 opened #223 "Pylint linting skipped when pylint extension is installed but disabled"

[2022-11-24 18:33] luabud commented on #223
I was able to reproduce this.
@Elijahh177  is there anything that is preventing you from using (or wanting to use) the extension instead of the built-in support for pylint?

[2022-11-25 07:42] Elijahh177 commented on #223
@Elijahh177 is there anything that is preventing you from using (or wanting to use) the extension instead of the built-in support for pylint?

I just discovered the fallback behavior of the setting "pylint.importStrategy=fromEnvironment", which is really nice. So i am happy to use the extension from now on.

Good to know, I totally support this decision!

Nevertheless, there might be users which w

[2022-11-26 10:39] MartinBernstorff commented on #220
Getting the same thing - my best guess is that it's caused by #129.

Should be fixed by the PR, but may result in way slower linting since the cache is invalidated.

[2022-11-28 21:57] brettcannon commented on #223
We definitely don't intend to ignore the problem, but our team is also down by 50% due to vacations, so we have to prioritize what we try to tackle while we are short some folks. Since there's a work-around we probably won't get to it until the most appropriate folks are back while we tackle more pressing stuff.

[2022-11-29 14:28] 2-5 opened #224 "E0401 due to import name clashes with vscode-pylint internal modules"
I have an `utils` module with an `json_load` module in it. `vscode-pylint`, with default setings (bundled) warns on it's import (INCORRECT):

[code]

If I `pip install pylint` and then run `pylint` from the terminal, there is no `E0611` warning (CORRECT).

This seems to be caused by `vscode-pylint` adding it's own modules to the path used by `pylint`, and `vscode-pylint` has an `utils` module whic